@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.brand-color {
  color: orange;
}

@layer base {
  :root {
    --brand-color: #ffa617;
    --brand-secondary-color: #ff7700;
    --brand-third-color: #ffc300;
    --background: #213152;
    --white: #ffffff;
  }
  .dark {
    --background: #213152;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-white;
  }
  h1 {
    @apply text-5xl block text-center font-bold;
  }
  h2 {
    @apply text-4xl block text-center font-bold;
  }
  h3 {
    @apply text-3xl block text-center font-semibold;
  }
  h4 {
    @apply text-2xl block text-center;
  }
  h5 {
    @apply text-xl block text-center;
  }
}

@layer utilities {
  /* Common Styles */
  .btn {
    @apply w-80 h-[60px] text-2xl rounded-full m-3 hover:drop-shadow-lg;
  }
}
